footer {
    font-size: 70%;
    text-align: center;
    padding: 30px;
    background-color: #00FFFF;
    color: #000000;
    box-shadow: 0 -1px 10px 6px #00FFFF;
    position: relative;
}

footer > * {
    margin: 5px;
}

footer .bottom {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
}

footer .bottom span {
    display: flex;
    flex-direction: column;
}

footer a {
    color: var(--accent);
}